.wind_Container{
    display: flex;
    flex-direction: column;
}

.wind_Container p {
    text-align: center;
    font-size: 18pt;
}

.wind_Container p span{
    font-size: 20pt;
    font-weight: bolder;
}